* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    to bottom left,
    hsl(60, 36%, 91%),
    hsl(36, 3%, 30%)
  );
  color: #000;
  scroll-behavior: smooth;
}
header,
main,
footer {
  min-width: 100%;
  padding: 20px;
}
header {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  position: fixed;
  top: 0px;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}
header.active {
  background-color: black;
  color: white;
}
header.active #logo-div img {
  background-color: white;
  border-radius: 10px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
footer {
  font-size: 1.3rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.contact-icons img {
  width: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 3px 6px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.contact-icons img:hover {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.98);
  transform: rotateZ(90deg);
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
#logo-div img {
  width: 100px;
  transition: background-color 0.8s ease-in-out, border-radius 0.8s ease-in-out;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  list-style: none;
}
li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.5s ease-in, opacity 0.5s ease-in;
}
li a:hover {
  text-decoration: underline;
  opacity: 0.95;
}
#burger-menu-icon {
  width: 40px;
  right: 30px;
  display: none;
  transition: background-color 0.8s ease-in-out;
}
header.active #burger-menu-icon {
  background-color: white;
  border-radius: 10px;
}
#image-container {
  background: url('./images/image8.jpg');
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: goldenrod;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
}
#container {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#container div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
  padding: 20px;
  height: 200px;
}

@media screen and (max-width: 700px) {
  #container {
    width: 100%;
  }
  #navbar {
    display: none;
  }
  #logo-div {
    font-size: 0.7rem;
    gap: 5px;
    flex-direction: column;
  }
  #logo-div img {
    width: 70px;
  }
  #burger-menu-icon {
    display: block;
  }
}
